.App {
  text-align: center;
}
.h1{
  margin: 20px auto;
  font-family: "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  font-weight: 300;
}
p{
  text-align: center;
}
span{
  padding: 20px;
}
span:nth-child(odd){
 color: red;
}
